<div class="span12">
    <p>&nbsp;</p>
    <div class="gdg_loading" ng-show="loading"></div>
    <div class="row">
        <img ng-show="cover.url" class="span12" ng-src="{{cover.url}}">
        <div class="span12 hidden-phone" id="cover" ng-show="cover.url">
            <div id="cover-content">
                <h1 class="span12">{{cover.title}}</h1>
                <p class="span12">{{cover.subtitle}}</p>
                <p class="span12">
                    <a class="btn btn-primary btn-large" ng-href="{{cover.button.url}}" target="_blank">{{cover.button.text}}</a>
                </p>
            </div>
        </div>
        <hr>
        <p class="span12" ng-bind-html-unsafe="desc"></p>
    </div>
    <h2>Agenda</h2>
    <iframe width="900" height="1000" frameborder='0' src='https://docs.google.com/spreadsheet/pub?key=0Aq3FtzFoCw0_dGRLSXg1NzRyNW9jTFp5bzFfTWNSMUE&single=true&gid=1&output=html&widget=true'></iframe>
    <p>
        <a class="btn btn-small" href="https://docs.google.com/spreadsheet/pub?key=0Aq3FtzFoCw0_dGRLSXg1NzRyNW9jTFp5bzFfTWNSMUE&single=true&gid=1&output=html"><i class="icon-calendar"></i> See this agenda in full screen</a>
    </p>
</div>