<div class="col-md-12">
    <div class="gdg_loading" ng-show="loading"></div>
    <div class="row">
        <img class="col-md-12" ng-show="cover.url" ng-src="{{cover.url}}">
        <div class="col-md-12 hidden-phone" id="cover" ng-show="cover.url">
            <div id="cover-content">
                <h1 class="col-md-12">{{cover.title}}</h1>
                <p class="col-md-12">{{cover.subtitle}}</p>
                <p class="col-md-12" ng-hide="cover.button.disabled">
                    <a class="btn btn-primary btn-large" ng-href="{{cover.button.url}}" target="_blank">{{cover.button.text}}</a>
                </p>
            </div>
        </div>
        <hr>
        <p class="col-md-12" ng-bind-html-unsafe="desc"></p>
    </div>
</div>
<div class="overview">
    <div class="col-md-4">
        <h3>Workshops <small>{{dates.workshops | date:'EEEE, MMM d'}}</small></h3>
        <p class="image">
            <img src="../images/document_gear.png" alt="Workshop icon" class="img-circle" />
        </p>
        <p>
            Learning something new is always good for a developer. In our workshops for different levels and topics you can learn a new language, a new framework or just become a better programmer.
        </p>
        <p>
            Please check the <a ng-href="#/{{year}}/agenda">Agenda</a> for more information.
        </p>
    </div>
    <div class="col-md-4">
        <h3>Conference <small>{{dates.conference | date:'EEEE, MMM d'}}</small></h3>
        <p class="image">
            <img src="../images/speech_bubble.png" alt="Conference icon" class="img-circle" />
        </p>
        <p>
            Today is the day. We ask the community for their talk proposals and we put together a program we are proud of.
            We hope you find it interesting as well and join us for a full day of concentrated exchange of knowledge.
        </p>
        <p>
            Please check the <a ng-href="#/{{year}}/agenda">Agenda</a> for more information.
        </p>
    </div>
    <div class="col-md-4">
        <h3>Hackathon  <small>{{dates.hackathon | date:'EEEE, MMM d'}}</small></h3>
        <p class="image">
            <img src="../images/hammer.png" alt="Hackathon icon" class="img-circle" />
        </p>
        <p>
            Since you (hopefully) attended both workshops and talks you are now full of news ideas.
            Today is the best day to put your new knowledge to work and start hacking with others.
        </p>
        <p>
            You can pick up a new framework and give it a spin while competing over the coolest, performant or funniest solution.

        </p>
        <p>
            Please check the <a ng-href="#/{{year}}/agenda">Agenda</a> for more information.
        </p>
    </div>
</div>