<div class="col-md-12">
    <h2>Agenda</h2>

    <ul class="cbp_tmtimeline">
        <li>
            <div class="cbp_tmlabel alternate">
                <h2 style="color: #5a5a5a">Our Tracks</h2>
                <div class="stream-android">
                    <h2>
                        Android
                    </h2>
                </div>
                <div class="stream-web">
                    <h2>
                        Web
                    </h2>
                </div>
                <div class="stream-cloud">
                    <h2>
                        Cloud
                    </h2>
                </div>
            </div>
        </li>
    </ul>

    <ul class="cbp_tmtimeline" ng-repeat="day in days">

        <h3 class="day">{{day.label}} <small>{{day.date | date:'EEEE, MMM d'}}</small></h3>

        <li ng-repeat="slot in day.slots">
                <div class="cbp_tmlabel">
                <h3>{{  slot[0].time_start | date:'HH:mm'}} - {{slot[0].time_end | date:'HH:mm'}}</h3>
                <div class="stream-{{parallelSlot.track.toLowerCase() || '0' }}" ng-repeat="parallelSlot in slot">
                    <h2>{{parallelSlot.title}}</h2>
                    <p class="speaker">
                        <span ng-repeat="(index, speaker) in parallelSlot.speakers">{{ speaker.name }}<span ng-show="parallelSlot.speakers.length > 1 && index < parallelSlot.speakers.length-1">, </span></span> </span>
                    </p>
                    <p class="room" title="{{parallelSlot.room.location}}">room: {{ parallelSlot.room.name}}</p>
                    <!--<a href="/hackathon#android">??????...</a>-->
                </div>
            </div>
        </li>
    </ul>
    <!--
    <li>

        <div class="cbp_tmlabel">
            <h3>09:00 - ...</h3>
            <div class="stream-0">
                <h2>
                    Старт AndroidHot Hackathon'у
                    <span>Офіс Cicklum, 20 поверх</span>
                </h2>
                <a href="/hackathon#android">Деталі...</a>
            </div>
        </div>

        <div class="cbp_tmlabel">
            <h3>10:00 - 16:00</h3>
            <div class="stream-0">
                <h2>
                    AngularJ-Sabbath Hackathon
                    <span>Офіс DataArt</span>
                </h2>
                <a href="/hackathon#angular">Деталі...</a>
            </div>
        </div>

        <div class="cbp_tmlabel">
            <h3>17:00 - 18:30</h3>
            <div class="stream-0">
                <h2>
                    Техтолк з Еріком Лафортюн
                    <span>Офіс GlobalLogic</span>
                </h2>
                <p>Тема: Optimisation, Obfuscation, and Protection of Java Applications. <a href="/hackathon#techtalk">Деталі...</a></p>
                <div class="presentation">
                    <a href="https://drive.google.com/file/d/0B3UBk7uINu2jdEdqZ1E5RDNOU3M/edit?usp=sharing" target="_blank"><img src="/static/images/slides.png" alt="youtube"></a>
                </div>
            </div>
        </div>

        <div class="cbp_tmlabel">
            <h3>19:00 - 20:00</h3>
            <div class="stream-0">
                <h2>
                    DemoShow AndroidHot Hackathon'у
                    <span>Офіс Cicklum, 20 поверх</span>
                </h2>
                <a href="/hackathon">Деталі...</a>
                <div class="presentation">
                    <a href="https://drive.google.com/file/d/0B3UBk7uINu2jZVVHOUNEUWJFRTQ/edit?usp=sharing" target="_blank"><img src="/static/images/slides.png" alt="youtube"> Презентація переможців, проект GeoDating</a>
                </div>
            </div>
        </div>

        <div class="cbp_tmlabel">
            <h3>20:00 - 22:00</h3>
            <div class="stream-0">
                <h2>
                    Cаміт лідерів GDG
                    <span>Офіс GlobalLogic</span>
                </h2>
                <a href="/summit">Деталі...</a>
            </div>
        </div>

    </li>



    <h2 class="day">Неділя, 27 жовтня</h2>
    <li>
        <div class="cbp_tmlabel alternate">
            <h2 style="color: #5a5a5a">Потоки</h2>
            <div class="stream-1">
                <h2>
                    Android
                </h2>
            </div>
            <div class="stream-2">
                <h2>
                    Web
                </h2>
            </div>
            <div class="stream-3">
                <h2>
                    GDG[x]
                </h2>
            </div>
            <div class="stream-4">
                <h2>
                    Glass
                </h2>
            </div>
            <div class="stream-5">
                <h2>
                    Google Ads
                </h2>
            </div>
        </div>
    </li>
    <li>
        <div class="cbp_tmlabel">
            <h3>09:00 - 09:30</h3>
            <div class="stream-0">
                <h2>Реєстрація. Вітальна кава.</h2>
            </div>
        </div>
    </li>
    <li>
        <div class="cbp_tmlabel">
            <h3>09:30 - 10:30</h3>
            <div class="stream-0">
                <h2>Відкриття. Привітання. Keynote</h2>
                <div class="presentation">
                    <a href="https://docs.google.com/presentation/d/1qKKPZc328684jOJhWwcfznL-KZJzNoGsIMtKsSIUVjg/edit?usp=sharing" target="_blank"><img src="/static/images/slides.png" alt="youtube"></a>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="cbp_tmlabel">
            <h3>10:40 - 11:30</h3>
            <div class="stream-1 eng">
                <h2>
                    ProGuard, Optimizer and Obfuscator in the Android SDK
                    <span>Eric Lafortune (Technical Director, Saikoa)</span>
                </h2>
                <a data-toggle="modal" href="#modal-2">
                    ProGuard is the open-source optimizer and obfuscator that is integrated in the Android SDK. It...
                </a>
                <div class="presentation">
                    <a href="https://drive.google.com/file/d/0B3UBk7uINu2jUFdDSDVnWUg0bWs/edit?usp=sharing" target="_blank"><img src="/static/images/slides.png" alt="youtube"></a>
                </div>
            </div>
            <div class="stream-2">
                <h2>
                    Switching to Angular. Silk way
                    <span>Павло Юрійчук (Front-End Lead Developer, GlobalLogic)</span>
                </h2>
                <a data-toggle="modal" href="#modal-3">
                    What is Angular.JS according to PM and Developer. Automation tools stack for Angular.JS developmen...
                </a>
                <div class="presentation">
                    <a href="https://drive.google.com/file/d/0B3UBk7uINu2jVnZzcEUzT05KTk0/edit?usp=sharing" target="_blank"><img src="/static/images/slides.png" alt="youtube"></a>
                </div>
            </div>
            <div class="stream-3">
                <h2>
                    GDG[x] Project
                    <span>Олег Засадний (GDG Lviv)</span>
                </h2>
                <a data-toggle="modal" href="#modal-4">
                    Frisbee, Boomerang, Glider...
                </a>
                <div class="presentation">
                    <a href="http://ozasadnyy.github.io/gdg-x-slides/" target="_blank"><img src="/static/images/slides.png" alt="youtube"></a>
                </div>
                <hr>
                <h2>
                    Google X
                    <span>Андрій Горбенко (Google Student Ambassador)</span>
                </h2>
                <a data-toggle="modal" href="#modal-5">
                    Основні розробки лабораторії...
                </a>
            </div>
        </div>
    </li>
    <li>
        <div class="cbp_tmlabel">
            <h3>11:30 - 12:00</h3>
            <div class="stream-0">
                <h2>Перерва на каву / Gadget Time</h2>
                <a data-toggle="modal" href="#modal-21">
                    Під час Coffee Brake'ів в холі можна буде послухати про і пощупати Motorola X, Chromecast, Chromebook Pixel...
                </a>
            </div>
        </div>
    </li>
    <li>
        <div class="cbp_tmlabel">
            <h3>12:00 - 12:50</h3>
            <div class="stream-5">
                <h2>
                    Монетизація додатків з AdMob
                    <span>Ігор Пащенко (Strategic Partner Manager, Google)</span>
                </h2>
                <a data-toggle="modal" href="#modal-6">
                    Як найкраще заробляти на мобільних додатках - практичні поради, приклади розробників та розширені рекламні можливості.
                </a>
                <div class="presentation">
                    <a href="https://docs.google.com/presentation/d/13KuyORNqCEHIkGDHuaRK9jvU6253jDJieqli2i5FGJo/edit" target="_blank"><img src="/static/images/slides.png" alt="youtube"></a>
                </div>
            </div>
            <div class="stream-2">
                <h2>
                    AngularJS + PhoneGap
                    <span>Дмитро Малєєв (Mobility Solution Manager, SoftServe)</span>
                </h2>
                <a data-toggle="modal" href="#modal-7">
                    Поговоримо трохи про те, що таке AngularJS, а потім засунемо це все...
                </a>
            </div>
            <div class="stream-3">
                <h2>
                    Online Education
                    <span>Андрій Горбенко, Ксенія Шумельчик, Іра Величко</span>
                </h2>
                <a data-toggle="modal" href="#modal-8">
                    Поговоримо про GSoC, Code Jam...
                </a>
                <hr>
                <h2>
                    GDG Ukraine W — Ladies in Tech!
                    <span>Ксенія Шумельчик, Іра Величко, Галина Корнієнко</span>
                </h2>
                <a data-toggle="modal" href="#modal-9">
                    GDG W - це спільнота жінок...
                </a>
            </div>
        </div>
    </li>
    <li>
        <div class="cbp_tmlabel">
            <h3>13:00 - 13:50</h3>
            <div class="stream-5">
                <h2>
                    Google Analytics
                    <span>Ольга Павлюк (Account Strategist, Google)</span>
                </h2>
                <a data-toggle="modal" href="#modal-10">
                    Google Analytics: для чого потірбен, як користуватися, найбільш корисні звіти
                </a>
                <div class="presentation">
                    <a href="https://drive.google.com/file/d/0B3UBk7uINu2jZ0Fvano0aGU0WHc/edit?usp=sharing" target="_blank"><img src="/static/images/slides.png" alt="youtube"></a>
                </div>
            </div>
            <div class="stream-2">
                <h2>
                    AngularJS + Firebase: Realtime web
                    <span>Валентин Шибанов (Managing Director, Twinfield)</span>
                </h2>
                <a data-toggle="modal" href="#modal-11">
                    Поєднання таких технологій, як AngularJS та FireBase дають просто...
                </a>
                <div class="presentation">
                    <a href="http://slides.olostan.name/angularRT/index.html" target="_blank"><img src="/static/images/slides.png" alt="youtube"></a>
                </div>
            </div>
            <div class="stream-4">
                <h2>
                    Google Glass як ланка розвитку нашої цивілізації
                    <span>Єгор Анчішкін (CEO, Zakaz.ua)</span>
                </h2>
                <hr>
                <h2>
                    Досвід використання Google Glass
                    <span>Олексій Ісаченко (Leader, GDG Moscow)</span>
                </h2>
                <div class="presentation">
                    <a href="http://bit.ly/glasspresentation" target="_blank"><img src="/static/images/slides.png" alt="youtube"></a>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="cbp_tmlabel">
            <h3>13:50 - 14:30</h3>
            <div class="stream-0">
                <h2>Обід</h2>
            </div>
        </div>
    </li>
    <li>
        <div class="cbp_tmlabel">
            <h3>14:30 - 15:20</h3>
            <div class="stream-1">
                <h2>
                    TDD, ти де?
                    <span>Роман Мазур (Head of Andoird/Java Unit, Stanfy)</span>
                </h2>
                <a data-toggle="modal" href="#modal-14">
                    Поговоримо про інструменти доступні розробнику під Android для організації TDD.
                </a>
                <div class="presentation">
                    <a href="https://docs.google.com/presentation/d/1PL5SeLKVlA15v4RhUaF3iRQCvfu-3TgXzCNAFB6tE6Q/edit?usp=sharing" target="_blank"><img src="/static/images/slides.png" alt="youtube"></a>
                </div>
            </div>
            <div class="stream-2">
                <h2>
                    Вибираємо фреймворк: порівняльний аналіз BackboneJS, AngularJS, ExtJS
                    <span>Юля Пучніна (Senior Technical Architect, Universal Mind)</span>
                </h2>
                <a data-toggle="modal" href="#modal-15">
                    Зараз існує величезна кількість фреймворків, що дозволяють...
                </a>
                <div class="presentation">
                    <a href="https://docs.google.com/presentation/d/1N_HD6A1aABZBRcEWn9t1jRV0_wnLhV-meGIqKXPZYaE/edit?usp=sharing" target="_blank"><img src="/static/images/slides.png" alt="youtube"></a>
                </div>
            </div>
            <div class="stream-4">
                <h2>
                    Breaking Glass: Google Glass Development without Glass
                    <span>Остап Андрусів (R&amp;D Engineer, ELEKS)</span>
                </h2>
                <a data-toggle="modal" href="#modal-16">
                    Що таке Google Glass і які в нього можливості? Як програмувати під...
                </a>
                <div class="presentation">
                    <a href="http://www.slideshare.net/ostapandrusiv/breaking-glass-google-glass-development-withou" target="_blank"><img src="/static/images/slides.png" alt="youtube"></a>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="cbp_tmlabel">
            <h3>15:30 - 16:20</h3>
            <div class="stream-1">
                <h2>
                    Easy way to work with content stream - TextureView
                    <span>Дмитро Данилик (Android Platform Software Developer, Lemberg Solutions Ltd.)</span>
                </h2>
                <a data-toggle="modal" href="#modal-17">
                    Let's teach how to stream video, work with camera and make fun with OpenGL...
                </a>
                <div class="presentation">
                    <a href="http://slid.es/dmytrodanylyk/gdg-dev-fest" target="_blank"><img src="/static/images/slides.png" alt="youtube"></a>
                </div>
            </div>
            <div class="stream-2">
                <h2>
                    WebComponents і майбутнє Веб-розробки
                    <span>Андрій Листочкін (Tech Lead, Grammarly)</span>
                </h2>
                <a data-toggle="modal" href="#modal-18">
                    Ідея веб-компонентів не нова: ще перша чернетка специфікації XHTML...
                </a>
                <div class="presentation">
                    <a href="http://www.slideshare.net/listochkin/web-components-web-gdg-dev-fest-2013" target="_blank"><img src="/static/images/slides.png" alt="youtube"></a>
                </div>
            </div>
            <div class="stream-3">
                <h2>
                    Playtesting: how to prevent failures before launch
                    <span>Elena Pavlichenko (Executive Director, Playtestix)</span>
                </h2>
                <a data-toggle="modal" href="#modal-19">
                    Major companies do not doubt playtest expediency. The lecture will cover what it actually...
                </a>
                <div class="presentation">
                    <a href="https://drive.google.com/file/d/0B3UBk7uINu2jc0tQWmtmdDh5NTQ/edit?usp=sharing" target="_blank"><img src="/static/images/slides.png" alt="youtube"></a>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="cbp_tmlabel">
            <h3>16:20 - 16:50</h3>
            <div class="stream-0">
                <h2>Перерва на каву / Gadget Time</h2>
                <a data-toggle="modal" href="#modal-21">
                    Під час Coffee Brake'ів в холі можна буде послухати про і пощупати Motorola X, Chromecast, Chromebook Pixel...
                </a>
            </div>
        </div>
    </li>
    <li>
        <div class="cbp_tmlabel">
            <h3>16:50 - 17:40</h3>
            <div class="stream-3">
                <h2>
                    Круглий стіл "Майбутнє з Google"
                    <span>Учасники: Єгор Анчішкін, Дмитро Малєєв, Антон Карпенко</span>
                </h2>
            </div>
            <div class="stream-1">
                <h2>
                    Android app architecture (anti-) patterns
                    <span>Кирило Зотін (Android developer, Sitecore)</span>
                </h2>
                <a data-toggle="modal" href="#modal-20">
                    Склався стереотип, що для створення мобільного додатку найкраще...
                </a>
                <div class="presentation">
                    <a href="https://docs.google.com/presentation/d/1fOPvCwW_yFBZlo5anKm6vPw_Wfocrp2x--sCHtG_woQ/edit?usp=sharing" target="_blank"><img src="/static/images/slides.png" alt="youtube"></a>
                </div>
            </div>
            <div class="stream-3">
                <h2>
                    Круглий стіл "Ladies in Tech"
                    <span>Учасниці: Ксенія Шумельчик, Анастасія Стефанська, Галина Корнієнко, Іра Величко</span>
                </h2>
            </div>
        </div>
    </li>
    <li>
        <div class="cbp_tmlabel">
            <h3>17:50 - 18:30</h3>
            <div class="stream-0">
                <h2>GDG Ukraine Awards. Нагородження переможців хакатонів. Спільне фото на згадку. Закриття DevFest-у.</h2>
            </div>
        </div>
    </li>
    </ul>

-->
</div>
