<div class="col-md-12">
    <h2>Agenda</h2>


    <p ng-hide="days" class="alert alert-info">
        We are in the process of finalizing the schedule. Check back in a few days or better yet 
        <a href="https://docs.google.com/forms/d/1aUZqI4tNBXP79zn5yi1XeNiUh4hTMh4jplfM7RPooss/viewform" class="btn btn-primary">
            <span class="glyphicon glyphicon-hand-right"></span>  submit a talk yourself
        </a>
    </p>
    
    <ul class="cbp_tmtimeline">
        <li>
            <div class="cbp_tmlabel alternate">
                <h2 style="color: #5a5a5a">Our Tracks</h2>
                <div class="stream-android">
                    <h2>
                        Android
                    </h2>
                </div>
                <div class="stream-web">
                    <h2>
                        Web
                    </h2>
                </div>
                <div class="stream-cloud">
                    <h2>
                        Cloud
                    </h2>
                </div>
            </div>
        </li>
    </ul>

    <div ng-show="days">
        <ul class="cbp_tmtimeline" ng-repeat="day in days">

            <h3 class="day">{{day.label}} <small>{{day.date | date:'EEEE, MMM d'}}</small></h3>

            <li ng-repeat="slot in day.slots">
               <div class="cbp_tmlabel">
                    <h3>{{  slot[0].time_start | date:'HH:mm'}} - {{slot[0].time_end | date:'HH:mm'}}</h3>
                    <div class="stream-{{session.track.toLowerCase() || '0' }}" ng-repeat="session in slot" ng-click="openSession(session);">
                        <span ng-show="session.level == 101" class="label label-success">101 / Beginners</span>
                        <span ng-show="session.level == 201" class="label label-warning">201 / Intermediates</span>
                        <span ng-show="session.level == 301" class="label label-danger">301 / Experts</span>
                        <h2>{{session.title}}</h2>
                        <p class="speaker">
                            <span ng-repeat="(index, speaker) in session.speakers">{{ speaker.name }}<span ng-show="session.speakers.length > 1 && index < session.speakers.length-1">, </span></span> </span>
                        </p>
                        <p ng-show="session.youtube_id || session.slide" class="icons">
                            <span ng-show="session.youtube_id" class="badge glyphicon glyphicon-facetime-video" title="This session has been recorded."> </span>
                            <span ng-show="session.slide"class="badge glyphicon glyphicon-sound-stereo" title="This session has slides attached."> </span>
                        </p>
                        <p class="room" title="{{session.room.location}}">room: {{ session.room.name}}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
