<div class="col-md-12">
    <p>&nbsp;</p>
    <h2>Contact us</h2>
    <p>If you have any questions you can contact us via our <a href="{{google_plus_link}}" class="btn btn-danger btn-tiny"><span class="glyphicon glyphicon-share-alt"></span> Google+ Site</a> or directly via <a href="mailto:{{email}}?Subject=Question%20from%20website" class="btn btn-info"><span class="glyphicon glyphicon-envelope"></span> e-mail</a></p>
    <br><br>

<h2>Sponsoring contacts</h2>

<p>If you want to get in touch regarding sponsoring please contact one of the following team members.</p>
<ul class="thumbnails teammembers">
    <li class="col-md-3"  ng-repeat="member in team" style="text-align: center;">
        <a href="{{member.url}}" title="Google+ profile of {{member.displayName}}">
            <img ng-src="{{member.image.url}}" class="img-circle" alt="{{member.displayName}}">
            <p>{{member.displayName}}</p>
        </a>
    </li>
</ul>
</div>