<div class="col-md-12">
    <h2>{{session.title}}</h2>
    <p class="time">{{session.time_start | date:'EEEE, MMM d'}}, {{session.time_start | date:'HH:mm'}} - {{session.time_end | date:'HH:mm'}} <span class="label" ng-class="'label-'+session.track.toLowerCase()">{{session.track}}</span></p>
    <div ng-show="session.speakers" class="row speakerlist">
        <h3 class="speaker col-md-12">Speaker<span ng-show="session.speakers.length > 1">s</span></h3>
        <div ng-repeat="speaker in session.speakers" class="well col-md-offset-1 col-md-2 col-xs-offset-3 col-xs-6 text-center">
                <img src="images/speech_bubble.png" style="" alt="Photo of {{speaker.name}}" />
                <br>
                <p class="label label-default">{{speaker.name}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" ng-show="session.video">
            <h3>Video</h3>
            <a ng-href="{{session.video}}">Click here for the awesome video.</a>
        </div>
        <div class="col-md-6" ng-show="session.slide">
            <h3>Slides</h3>
            <a ng-href="{{session.slide}}">Click here for the awesome slides.</a>
        </div>
    </div>
</div>
