<div class="col-md-12">
    <h2>{{speaker.name}}</h2>
    <div class="row">
        <div class="col-md-offset-1 col-lg-offset-1 col-xs-offset-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 center">
            <img ng-src="{{speaker.img}}" class="img-circle img-responsive" alt="Photo of {{speaker.name}}"/>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
            <div ng-show="speaker.description">
                <h3>About</h3>
                <p class="text-left">{{speaker.description}}</p>
            </div>
            <div ng-show="speaker.sessions">
                <h3>Sessions</h3>
                <ul class="">
                    <li class="col-md-12"  ng-repeat="session in speaker.sessions" style="text-align: center;">
                        <p class="text-left">{{session.title}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
